<div class="animate">
    <div class="animate">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <img class="img-fluid" src="assets/images/md_header.jpg" width="100%" alt="Image">
                    <div class="card-block">
                        <h4 class="card-title">Welcome!</h4>
                        <p class="card-text">My Dialogue is a personal development tool which will be used by both the employee and the manger to trigger
                          the best development actions and bring ZEAL employees to the next level.</p>
                        <a href="Javascript:void(0);" class="btn btn-primary">Getting Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        <h5 class="card-title">What is MyDialogue?
                        </h5>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12 text-xs-left">
                                <div class="card card-default card-block">
                                    <blockquote class="card-blockquote">
                                        <p>First, the employee fills out a self-assessment, which consists of Personal and Professional Competencies as well as of Development Actions.
                                          The self-assessment will be forwarded to the manager, who then schedules a Development Talk with the employee to discuss the self-assessment and make adjustments if necessary.
                                          The final assessment will be uploaded to the Dashboard. Here, a comparison with the complete ZEAL Dashboard can be seen and further development actions can be taken from here.
                                          Also, all received feedbacks will be visible in the Dashboard.</p>
                                        <a href="Javascript:void(0);" class="btn btn-primary">My History</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
