<div class="animate">
    <div class="animate">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <img class="img-fluid" src="assets/images/md_header.jpg" width="100%" alt="Image">
                    <div class="card-block">
                        <h4 class="card-title">Welcome Admin!</h4>
                        <p class="card-text">This is your administration panel. Here you can insert new employees,
                        manage access rights, edit the competencies and review employees' development.</p>
                    </div>
                    <div class="card-block">
                      <a [routerLink]="['/dashboard', 'insertUser']" class="btn btn-primary">New Employee</a>
                      <a [routerLink]="['dashboard', 'home']" class="btn btn-primary">New Competency</a>
                    </div>
                </div>
                <div class="card"><div class="card-block">
                    <h4 class="card-title">Active Users</h4>
                    <div class="card card-block" *ngFor="let user of users">
                      <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
                      <p class="card-text">Team: {{user.team}}</p>
                      <p class="card-text">Role: {{user.role}}</p>
                      <a href="#" class="card-link">Edit User</a>
                      <a href="#" class="card-link">Delete User</a>
                    </div>
                  </div>
                </div>
                <div class="card"><div class="card-block">
                    <h4 class="card-title">Available Competencies</h4>
                    <div class="card card-block">
                      <h4 class="card-title">Frontend Development</h4>
                      <p class="card-text">Type: Proffesional</p>
                      <a href="#" class="card-link">Edit Competency</a>
                      <a href="#" class="card-link">Delete Competency</a>
                    </div>
                    <div class="card card-block">
                      <h4 class="card-title">Teamwork</h4>
                      <p class="card-text">Type: Personal</p>
                      <a href="#" class="card-link">Edit Competency</a>
                      <a href="#" class="card-link">Delete Competency</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
