<div class="animate">
    <div class="animate">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">User Data</h4>
                    </div>
                    <div class="card-block">
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="inputPassword1">Password</label>
                          <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <label for="inputPassword2">Confirm Password</label>
                          <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                          <label for="inputFirstName1">First Name</label>
                          <input type="text" class="form-control" id="inputFirstName1" placeholder="First Name">
                        </div>
                        <div class="form-group">
                          <label for="inputLastName1">Last Name</label>
                          <input type="text" class="form-control" id="inputLastName1" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                          <label for="teamSelect1">Team</label>
                          <select class="form-control" id="teamSelect1">
                            <option>Website</option>
                            <option>Games</option>
                            <option>HR</option>
                            <option>Office</option>
                            <option>Finance</option>
                            <option>BISON</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="roleSelect1">Role</label>
                          <select class="form-control" id="roleSelect1">
                            <option>Employee</option>
                            <option>Team Lead</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="officeSelect1">Office</label>
                          <select class="form-control" id="officeSelect1" disabled>
                            <option>Hamburg</option>
                          </select>
                        </div>
                        <div class="form-group row">
                          <label for="birthday-input" class="col-xs-2 col-form-label">Birthday</label>
                          <input class="form-control" type="date" id="birthday-input">
                          </div>
                        <div class="form-group row">
                          <label for="join-date-input" class="col-xs-2 col-form-label">Join Date</label>
                          <input class="form-control" type="date" id="join-date-input">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
